<h4>Servers Information</h4>
<input
  type="text"
  class="form-control"
  [(ngModel)] = "serverName">
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"> Add New Server </button>
<p>{{ newServerStatus }}</p>
<app-server *ngFor="let s of servers"></app-server>
<button
  class="btn btn-warning"
  (click)="onShowDisplay()"> Display Details </button>
<p *ngIf = "showDetails">Welcome to the Westworld!</p>
<p
  *ngFor = "let num of clickLog; let i = index"
  [ngStyle] = "{backgroundColor : i >= 4? 'blue' : 'white'}"
  [ngClass] = "{whiteColor : i >= 4}">{{ num }}</p>
