<div class="container">
  <div class="row text-center">

    <div style="text-align:center; font-family: 'Helvetica Neue';">
      <h1>
        My name is {{ name }}!
      </h1>
      <h2>
        What is your name?
      </h2>
      <input type="text" [(ngModel)]="guest_name">
      <h2>
        Hi {{ guest_name }}! Nice to meet you.
      </h2>
    </div>
    <hr>
    <app-servers></app-servers>
    <hr>
    <app-warningalert></app-warningalert>
    <app-successalert></app-successalert>
  </div>
</div>
