<p> Server with ID {{ serverId }} is {{ serverStatus }} </p>
<input
  type="text"
  class="form-control"
  [(ngModel)] = "serverName">
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"> Add New Server </button>
<p>{{ newServerStatus }}</p>
<h2>Username</h2>
<input
  type="text"
  class="form-control"
  [(ngModel)] = "username">
<button
  class="btn btn-primary"
  [disabled]="username === ''"
  (click)="username = ''"> Reset Username </button>
<p>{{ username }}</p>
